{% extends "base.html" %} {% block content %}

<h3 style="margin: 50px 0px 30px 0px;"> About</h3>
<!-- <img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.6435-9/45517254_335004967307972_6499817632466731008_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=eBBEMuwRwdYAX9v862N&_nc_ht=scontent-tpe1-1.xx&oh=00_AT-Yft-ZLEGo3tHTKK1E4DzQ8g15WZQAgAsDDj7xktxaQw&oe=62041472" -->
<!-- style="width: 350px;position:absolute;right: 80px;border-radius: 10px;"> -->
<div style="border-width: 4px; border-style:solid ; width: 780px; height: 300px; border-color: rgb(243, 185, 124); padding: 8px;border-radius: 10px;">

    <p>ALANA 是以主廚女兒為命名，在2018年和家人一起種下的樹，一棵陪著孩子一起生長茁壯的樹，</p>
    <br>
    <p>我們懷抱著種下種子的初衷與堅持，每天細心地呵護，注入滿滿的愛，讓他保有新鮮、真誠、自然的狀態。</p>
    <br>
    <p>對於歐拉娜烘焙坊來說，每一個麵包、甜點就像我們的孩子，而您們就像我們的家人，</p>
    <br>
    <p>我們嚴選食材使用在地小農蔬果，搭配新鮮特色食材及原料 、每份點心堅持當日新鮮手作，</p>
    <br>
    <p>這些用心及對美味的堅持，只為了傳遞最自然的味道、最真實的口感、最溫暖人心的滋味! </p>
    <br> {% endblock %}
</div>