{% extends "base.html" %} {% block content %}
<h3 style="margin: 30px 0px 30px 0px;"> Contact</h3>
<p>營業時間：上午11:00 - 下午8:00（若當日麵包售完會提早打烊）（週六公休）</p>
<br />
<p>地址：<a href="https://goo.gl/maps/JE33ePJsCAyhTqB7A" target="blank">高雄市苓雅區新光路58號</a>（高雄市立圖書館正對面）（捷運三多站1號/2號出口步行約8-10分鐘）</p>
<br />
<p>電話：07-269-3127</p>
<br />
<p>Email：alana20180508@gmail.com</p>
<br />
<a href="https://www.facebook.com/Alana20180508.life " target="blank "><img src="https://cdn-icons-png.flaticon.com/128/174/174848.png" style="width: 40px;"></a>
&ensp;&ensp;
<a href="https://www.instagram.com/alana20180508/?fbclid=IwAR06m-dQeR_THXEOkn-YgxvNbr3oms4O2hWpiBrFAddYgjC6mSSZucz0yyY " target="blank ">
    <img src="https://cdn-icons-png.flaticon.com/128/2111/2111463.png" style="width: 40px;"></a>
<br />
<br />
<br /> {% endblock %}