{% extends "base.html" %}
{% load dict_tag %}

{% block content %}

<h3 style="margin-top: 50px;"> 商品展示 </h3>

<div class="row" id="winner_list">
    {% for pid, winners in winnerList_dict.items %}
    
        <div class='col-6 col-sm-4 col-md-3'>
            <div class="logo div">
                {% load static %}
                {% with 'images/'|add:pid|add:'.jpg' as image_static %}
                    <img src={% static image_static %} class="img-fluid">
                {% endwith %}
               
                
              
            </div>

            <div class="winner-list container">
                {% for prize in prize_list %}
                    {{pid.get_url}}
                {% endfor %}
                <!-- <p> {{pid}}</p> -->
                <!-- <p><a href="{{ prize.get_url }}"> {{ prizeCName_dict | get_value_from_dict:pid}}</a> </p> -->
                <!-- {% for w in winners %} <div class="winner">{{w}} </div>{% endfor %} -->
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}