{% extends "base.html" %}
{% block  content %}
    <h3>MENU</h3>
    <div class="flex">
      <div class="detail">
        {% if prize_list %}
          {% for prize in prize_list %}
            <img src="{{ prize.img.url}}" width='200px' alt="logo">
            {{prize.cname}}
            <a href="{{ prize.get_url }}"> {{ prize.pid }}</a> 
            <br/>
          {% endfor %}
        {% else %}
          <p>There are no prize.</p>    
        {% endif %}     
      </div>  
    </div>  
{% endblock %}
